<!DOCTYPE html>

<html>

<head>
    <title>CSCI_3700 HW3</title>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
</head>


<body>
    <div class="center">
    <p class="header">Welcome to dvdrental database</p>
    </div>
    <a href="http://127.0.0.1:5000/api/unique">Click here to show query results (/api/unique)</a>
    <p> </p>
    <a href="http://127.0.0.1:5000/api/update_basket_a">Click here to update basket_a with a new row (/api/update_basket_a)</a>
    <p> </p>
    <a href="http://127.0.0.1:5000/api/reset">Click here to reset database (/api/reset)</a>




</body>
<style type="text/css">
.header {font-size:3em}
.center {display: flex; justify-content: center; align-content: center;}
</style>
</html>